.venv/
__pycache__/
data/raw/
data/index/
data/transcripts/
data/summaries/
.env
*.pyc
*.pyo
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.pytest_cache
demo/
images/
data/
notebooks/

.*/ # anything starting with .